#overSeventeen {
  display: none;
}

#underSeventeen {
  display: none;
}

#transformerClick {
  display: none;
}

#carsClick {
  display: none;
}

#wonderwomanClick {
  display: none;
}

#roughnightClick {
  display: none;
}
